/*!
Functions and Mixins
*/

@function px2rem($font-size, $base-font-size: 16) {
  @return $font-size / $base-font-size + rem;
}
@mixin px2rem($font-size, $line: $font-size * 1.4, $base-font-size: 16) {
    font-size: $font-size + px; // für den IE8
    line-height: ($line) + px;
    font-size: px2rem($font-size, $base-font-size);
    line-height: ($line / $base-font-size) + rem;
}
