//-----------------------------------------------------------------------------------*/
// Konstanten fuer das Design
//-----------------------------------------------------------------------------------*/

$page: #fff;
$header: #636071;
$text: #393944;
$border: #C3C3CB;
$medium-blue: #005CAE;
$text-blue: #00458C;
$dark-grey: #4B4A56;
$medium-grey: #707070;
$light-grey: #dedee3;
$link: $medium-grey;
$bg-grey: #e7e7eb;
$green: #00905A;
//$red: #D94000;
$red: #a71c18;

// Bootstrap Colors
$primary: #286090;
$primary-light:#d9edf7;
$success: #5cb85c;
$sucess-light:#dff0d8;
$info:#5bc0de;
$info-light:#d9edf7;
$warning:#f0ad4e;
$warning-light:#fcf8e3;
$danger:#d9534f;
$danger-light:#fcf8e3;
$secondary: #5a6268;

// FAU Colors
$colorPhilFak:	    #A36B0D;
$colorRwFak:	    #8d1429;
$colorMedFak:	    #0381A2;
$colorNatFak:	    #048767;
$colorTechFak:	    #6E7881;
$colorZUV:	    #003366;
$colorDefault:	    #003366;
