@import "font-awesome";

// Variables
$page: #fff;
$header: #636071;
$text: #393944;
$border: #C3C3CB;
$medium-blue: #005CAE;
$text-blue: #00458C;
$dark-grey: #4B4A56;
$medium-grey: #707070;
$light-grey: #dedee3;
$link: $medium-grey;
$bg-grey: #e7e7eb;
$green: #00905A;
//$red: #D94000;
$red: #a71c18;

// Bootstrap Colors
$primary: #286090;
$primary-light:#d9edf7;
$success: #5cb85c;
$sucess-light:#dff0d8;
$info:#5bc0de;
$info-light:#d9edf7;
$warning:#f0ad4e;
$warning-light:#fcf8e3;
$danger:#d9534f;
$danger-light:#fcf8e3;
$secondary: #5a6268;

// FAU Colors
$colorPhilFak:	    #A36B0D;
$colorRwFak:	    #8d1429;
$colorMedFak:	    #0381A2;
$colorNatFak:	    #048767;
$colorTechFak:	    #6E7881;
$colorZUV:	    #003366;
$colorDefault:	    #003366;

// Functions and Mixins

@mixin px2rem($font-size, $line: $font-size * 1.4, $base-font-size: 16) {
    font-size: $font-size + px; // für den IE8
    line-height: ($line) + px;
    font-size: px2rem($font-size, $base-font-size);
    line-height: ($line / $base-font-size) + rem;
}

/*
 * Timeline
 */

[id^="timeline"] {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    background: url('../images/dot.gif') left 35px repeat-x;
    @media screen and (min-width: 45em) {
        width: 800px;
        //height: 350px;
        overflow: hidden;
        margin: 100px auto;
        background-position-y: 45px
    }
    * {
        margin: 0;
        padding: 0;
    }

    h1,h2,h4,h5,h6 {
        margin-bottom: 5px;
    }
    h1 {
        font-size: 18px;
        line-height: 20px;
    }
    h2 {
        font-size: 14px;
        line-height: 16px;
    }
    .dates {
        @media screen and (min-width: 45em) {
            width: 800px;
            height: 60px;
            overflow: hidden;
        }
        li {
            width: 70px;
            height: 40px;
            list-style: none;
            float: left;
            background: url('../images/biggerdot.png') center bottom no-repeat;
            text-align: center;
            @media screen and (min-width: 45em) {
                width: 100px;
                height: 50px;
            }
        }
        a {
            font-size: 18px;
            line-height: 18px;
            padding-bottom: 10px;
            text-decoration: none;
            opacity: 0.7;
            text-decoration: none;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -ms-transition: 0.5s;
            transition: 0.5s;
            @media screen and (min-width: 45em) {
                font-size: 24px;
                line-height: 24px;
            }
            &:hover,
            &.selected {
                opacity: 1;
                text-decoration: none;
            }
            &.selected {
                font-size: 24px;
                line-height: 24px;
                @media screen and (min-width: 45em) {
                    font-size: 38px;
                    line-height: 38px;
                }
            }
        }
    }

    .issues {
        clear:left;
        padding-top: 10px;
        @media screen and (min-width: 45em) {
            width: 800px;
            //height: 350px;
            overflow: hidden;
        }
        li {
            list-style: none;
            float: left;
            @media screen and (min-width: 45em) {
                width: 800px;
                //  height: 350px;
            }
            &.selected img {
                -webkit-transform: scale(1.0,1.0);
                -moz-transform: scale(1.0,1.0);
                -o-transform: scale(1.0,1.0);
                -ms-transform: scale(1.0,1.0);
                transform: scale(1.0,1.0);
                opacity: 1;
            }
            img {
                //float: left;
                margin: 10px 30px 10px 50px;
                background: transparent;
                zoom: 1;
                -webkit-transition: all 2s ease-in-out;
                -moz-transition: all 2s ease-in-out;
                -o-transition: all 2s ease-in-out;
                -ms-transition: all 2s ease-in-out;
                transition: all 2s ease-in-out;
                -webkit-transform: scale(0.9,0.9);
                -moz-transform: scale(0.9,0.9);
                -o-transform: scale(0.9,0.9);
                -ms-transform: scale(0.9,0.9);
                transform: scale(0.9,0.9);
                vertical-align: middle;
                opacity: 0.7;
            }
            .wp-caption img {
                margin:0;
            }
            .wp-caption {
                margin: 10px auto 0;
                @media screen and (min-width: 45em) {
                    margin: 10px 30px 10px 70px;
                }
            }
            .alignleft {
                float: none;
                @media screen and (min-width: 45em) {
                    float: left;
                }
            }
            .align-right {
                float: none;
                @media screen and (min-width: 45em) {
                    float: right;
                }
            }
            .wp-caption-text {
                padding-bottom: 8px;
            }
            h1 {
                font-size: 24px;
                line-height: 30px;
                padding-bottom: 10px;
                @media screen and (min-width: 45em) {
                    margin: 0 70px;
                }
            }
            h2 {
                font-size: 20px;
                line-height: 24px;
                @media screen and (min-width: 45em) {
                    margin: 0 70px;
                }
            }
            p:not(.wp-caption-text) {
                font-size: 14px;
                font-weight: normal;
                line-height: 22px;
                //text-shadow: #000 1px 1px 2px;
                @media screen and (min-width: 45em) {
                    margin-left: 70px;
                    margin-right: 70px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .grad_left,
    .grad_right {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        @media screen and (min-width: 45em) {
            height: 350px;
            width: 100px;
        }
    }
    .grad_left {
        left: 0;
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
    .grad_right {
        right: 0;
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    }

    .next,
    .prev {
        opacity: 0;
        display: block;
        position: absolute;
        top: 170px;
        font-size: 70px;
        width: 25px;
        height: 38px;
        vertical-align: top;
        @media screen and (min-width: 45em) {
            opacity: 1;
        }
        &.disabled {
            opacity: 0.2;
        }
    }
    .next {
        right: 0;
    }
    .prev {
        left: 0;
    }
    // Vertical Timeline
    &.vertical {
        opacity: 1;
        width: 500px;
        height: 600px;
        margin: 0 auto;
        background: url('../images/dot.gif') 3px top repeat-y;
        overflow-y: hidden;
        @media screen and (min-width: 45em) {
            margin: 40px auto;
        }
        .dates {
            width: 70px;
            float: left;
            @media screen and (min-width: 45em) {
                width: 100px;
                height: 600px;
            }
            li {
                float: none;
                height: 100px;
                line-height: 100px;
                padding-left: 10px;
                background: url('../images/biggerdot.png') left center no-repeat;
            }
        }
        .issues {
            max-width: 100%;
            height: 600px;
            float: left;
            clear: none;
            @media screen and (min-width: 45em) {
                width: 400px;
            }
            li {
                width: 400px;
                height: auto; // 600px;
                float: none;
                overflow: hidden;
                padding-top: 50px;
                padding-bottom: 50px;
                h1 {
                    margin: 0 10px 10px;
                    @media screen and (min-width: 45em) {
                        margin: 10px 20px;
                    }
                }
                h2 {
                    margin: 0 10px 10px;
                    @media screen and (min-width: 45em) {
                        margin: 10px 20px;
                    }
                }
                p {
                    margin: 0 10px 10px;
                    @media screen and (min-width: 45em) {
                        margin: 10px 20px;
                    }
                }
                .wp-caption-text {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
        .grad_top,
        .grad_bottom {
            width: 20px;
            height: 50px;
            position: absolute;
            @media screen and (min-width: 45em) {
                height: 80px;
            }
        }
        .grad_top {
            top: 0;
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
        }
        .grad_bottom {
            bottom: 0;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }
        .next,
        .prev {
            top: auto;
            left: 55%;
            width: 45px;
            height: 70px;
        }
        .next {
            bottom: 0;
        }
        .prev {
            top: 0;
            i {
                vertical-align: top;
            }
        }
    }
}

/*
 * Absatzklassen
 */
//div {
    .notice {
        display: block;
        margin: 20px 0;
        padding-left: 36px;
        &::before {
            @extend .fa !optional;
            @extend .fa-2x !optional;
            min-width: 24px;
            padding-right: 8px;
            margin-left: -36px;
            float: left;
            position: relative;
            top: -3px;
        }
        h3 {
            margin-bottom: 0;
            padding-top: 0;
        }
        p, ul, ol {
            margin-bottom: .3em;
            .alert & {
                margin-bottom: 0;
            }
        }
        .alert & {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }


    .notice-alert,
    .notice-attention {
        @extend .fa-exclamation-circle !optional;
        color: $red;
        font-weight: bold;
        h3, p {
            color: $red;
        }
        h3+p, h3+ul, h3+ol {
            font-weight: normal;
            color: $text;
        }
    }

    .notice-hinweis {
        @extend .fa-exclamation-circle !optional;
        color: $text-blue;
        font-weight: bold;
        &::before {
            font-weight: normal;
        }
        h3, p {
            color: $text-blue;
        }
        h3+p, h3+ul, h3+ol {
            font-weight: normal;
            color: $text;
        }
    }

    .notice-baustelle {
        @extend .fa-wrench !optional;
        color: $dark-grey;
        font-weight: bold;
        h3 {
            color: $dark-grey;
        }
        h3+p, h3+ul, h3+ol {
            font-weight: normal;
            color: $text;
        }
    }

    .notice-question {
        @extend .fa-question-circle !optional;
        &::before {
            color: $medium-blue;
        }
    }

    .notice-minus {
        @extend .fa-minus-circle !optional;
        &::before {
            color: $red;
        }
    }

    .notice-plus {
        @extend .fa-plus-circle !optional;
        &::before {
            color: $green;
        }
    }
    .notice-tipp {
        @extend .fa-lightbulb-o !optional;
        font-weight: bold;
        h3 {
            color: $dark-grey;
        }
        h3+p, h3+ul, h3+ol {
            font-weight: normal;
            color: $text;
        }
        &::before {
            color: orange;
        }
    }
    .notice-download {
        @extend .fa-download !optional;
        &::before {
            color: $medium-blue;
        }
    }

    .notice-faubox {
        @extend .fa-cloud-download !optional;
        &::before {
            color: $medium-blue;
        }
    }

    .notice-audio {
        @extend .fa-volume-up !optional;
        &::before {
            color: $medium-blue;
        }
    }
 
    .notice-video {
        @extend .fa-youtube-play !optional;
        &::before {
            color: $medium-blue;
        }
    }
//}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.content-slider.flexslider a:active,
.flex-container a:focus,
.content-slider.flexslider a:focus  {/*outline: none;*/}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.content-slider.flexslider,
#content .content-slider.flexslider {   // Fix für FAU-Theme
    margin: 0;
    padding: 0;
    .slides > li {
        display: none;
        -webkit-backface-visibility: hidden;
    } /* Hide the slides before the JS is loaded. Avoids image jumping */
    .slides img {
        width: 100%;
        display: block;
        object-fit: cover;
        &.attachment-teaser-thumb {
            width: auto;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            @media screen and (min-width: 48em) {
                max-width: 30%;
                height: auto;
                margin-right: 20px;
                max-height: 300px;
                #content & {
                    max-width: 30%;
                }
            }
        }
    }
}
.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.content-slider.flexslider,
#content .content-slider.flexslider {
    position: relative;
    margin-bottom: 20px;
    ul.slides {
        margin: 0 0 10px;
        background: #fff;
        border: 10px solid #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
        -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        zoom: 1;
        @media screen and (min-width: 48em) {
            border: 20px solid #fff;
            border-left-width: 40px;
            border-right-width: 40px;
        }
        @media screen and (min-width: 66.25em) {
            border: 30px 40px;
        }
    }

    .flex-viewport {
        max-height: 2000px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        .loading & {
            max-height: 300px;
        }
    }
    .content-slider.flexslider .slides {
        zoom: 1;
        padding-left: 0;
        margin-bottom: 0;
    }
    .carousel li { margin-right: 5px; }
    .flex-direction-nav li {list-style-type: none;}

    h2 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding-top: 0;
        @media screen and (min-width: 48em) {
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
    }
}

/* Direction Nav */
.content-slider .flex-direction-nav {
    *height: 0;
    margin-bottom: 0;
    position: static; // Fix für FAU-Einrichtungen
    a  {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 0;
        z-index: 10;
        overflow: hidden;
        line-height: 1;
        opacity: 1;
        cursor: pointer;
        color: #555;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        background-image: none; // Fix für FAU-Einrichtungen
        text-indent: 0; // Fix für FAU-Einrichtungen
        background-color: transparent;
        @media screen and (min-width: 48em) {
            opacity: 0;
            position: absolute;
            top: 40%;
        }
        &:hover, &:focus, &:active {
            background-color:transparent;
            border-bottom:none;
            color:#1559A6;
        }
    }
    .flex-prev {
        left: 0;        
        @media screen and (min-width: 48em) {
            left: -25px;
        }
    }
    .flex-next {
        text-align: right;
        right: 0;
        @media screen and (min-width: 48em) {
            right: -25px;
        }
    }
}

.content-slider.flexslider:hover,
.content-slider.flexslider:focus,
.content-slider.flexslider:active {
    opacity: 1;
    .flex-prev {
        opacity: 0.7;
    }
    .flex-next {
        opacity: 0.7;
    }
}
.content-slider {
    .flex-next:hover,
    .flex-prev:hover,
    .flex-next:focus,
    .flex-prev:focus,
    .flex-next:active,
    .flex-prev:active {
        opacity: 1;
    }
}
.content-slider .flex-direction-nav .flex-disabled { 
    opacity: 0!important;
    filter:alpha(opacity=0);
    cursor: default;
}
.content-slider .flex-direction-nav a:before  {
    font-family: "FontAwesome";
    font-size: 40px;
    display: inline-block;
    content: '\f104';
}
.content-slider .flex-direction-nav a.flex-next:before  { content: '\f105'; }

/* Pause/Play */
.content-slider .flex-pauseplay {
    position: static;
}
.content-slider .flex-pauseplay a {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #555;
    background-image: none; // Fix für FAU-Einrichtungen
    text-indent: 0; // Fix für FAU-Einrichtungen
    text-align: right;
    font-size: 16px;
    line-height: 1.6;
    @media screen and (min-width: 48em) {
        //opacity: 0.8;
        position: absolute;
        bottom: -2px;
        top: auto; // Fix für FAU-Einrichtungen
        right: 0;
    }
    &:before  {
        font-family: "FontAwesome";
        font-size: 20px;
        display: inline-block;
        content: '\f04c';
        color: #1559a6;
    }
    &:hover, &:focus, &:active {
        opacity: 1;
        background:transparent !important;
        text-decoration: none !important;
    }
    &.flex-play:before {
        content: '\f04b';
    }
}

/* Control Nav */
.content-slider .flex-control-nav {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 0;
    @media screen and (min-width: 48em) {
        padding-right: 50px;
    }
    li {
        margin: 12px 6px 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
        a {
            width: 12px;
            height: 12px;
            display: block;
            background: #666;
            background: rgba(0,0,0,0.5);
            cursor: pointer;
            text-indent: -9999px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
            -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
            -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
            &:hover {
                background: #666;
                background: rgba(0,0,0,0.7);
            }
            &.flex-active {
                background: #1559A6;
                background: rgba(21,89,166,1);
                cursor: default;
            }
        }
    }
}

.content-slider .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.content-slider .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.content-slider .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.content-slider .flex-control-thumbs img:hover {opacity: 1;}
.content-slider .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/*
 * Accordion
 */

h3.accordion-heading {
    width: auto;
    padding: 0 !important;
    margin: 0;
    border: none;
    text-align: left;
}
button.accordion-toggle {
    width: 100%;
    border: none;
    text-align: left;
}
button.expand-all.standard-btn {
    margin: 5px 0;
    float: none;
}

.button-container-right {
    text-align: right;
}

.button-container-left {
    text-align: left;
}

/*
 * News
 */

div.rrze-elements-news {
    .entry-content {
        width: 100%;
    }
    .float-left {
        @media screen and (min-width: 37.5em) {
            float: left;
            padding: 0 20px 10px 0;
            background: #fff;
        }
    }
    .float-right {
        @media screen and (min-width: 37.5em) {
            float: right;
            padding: 0 0 10px 20px;
            background: #fff;
        }
    }
}

/*
 * Bootstrap Alerts
 */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-weight: normal;
    background-color: #e9edf2;
    strong {
        color: inherit;
    }
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*
 * Buttons
 */

button.standard-btn,
a.standard-btn {
    display: inline-block;
    margin: 0 0 30px;
    padding: 10px 18px;
    overflow: hidden;
    cursor: pointer;
    background: $primary;
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
    text-decoration: none !important;
    -webkit-transition: 0.2s background ease;
    -moz-transition: 0.2s background ease;
    -o-transition: 0.2s background ease;
    -ms-transition: 0.2s background ease;
    transition: 0.2s background ease;
    border: 1px solid transparent;
}

.post, .page {
    .entry-content {
        button.standard-btn,
        a.standard-btn {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}

button.standard-btn,
a.standard-btn {
    &.xsmall-btn {
        padding: 5px 10px;
        font-size: 14px;
        font-size: 0.875rem;
    }
    &.small-btn {
        padding: 7px 12px 5px;
    }
    &.large-btn {
        padding: 14px 20px 13px;
        font-size: 23px;
        font-size: 1.4375rem;
    }
    &.xlarge-btn {
        padding: 18px 30px 17px;
        font-size: 25px;
        font-size: 1.5625rem;
    }
    &.primary-btn, &.blue-btn {
        background: $primary;
        border-color: darken($primary, 5%);
    }
    &.success-btn, &.green-btn {
        background: $success;
        border-color: darken($success, 5%);
    }
    &.info-btn {
        background: $info;
        border-color: darken($info, 5%);
    }
    &.warning-btn, &.yellow-btn {
        background: $warning;
        border-color: darken($warning, 5%);
    }
    &.danger-btn, &.red-btn {
        background: $danger;
        border-color: darken($danger, 5%);
    }
    &.secondary-btn, &.grey-btn {
        background: $secondary;
    }
    &.black-btn {
        background: $text;
    }
    &.full-btn {
        width: 100%;
    }
}

/* --- Multi Columns --- */

.two-columns-one,
.three-columns-one,
.three-columns-two,
.four-columns-one,
.four-columns-two,
.four-columns-three {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    font-size: 1rem;
    p {
        font-size: 16px;
        font-size: 1rem;
    }
    @media screen and (min-width: 48em) {
        float: left;
        margin-bottom: 0;
    }
}

.two-columns-one {
    @media screen and (min-width: 48em) {
        width: 48.5%;
        margin: 0 1.5% 0 0;
    }
}

.three-columns-one {
    @media screen and (min-width: 48em) {
        width: 31.3%;
        margin: 0 3% 0 0;
    }
    .last {
        @media screen and (min-width: 48em) {
            margin: 0 1.5% 0;
        }
    }
}

.three-columns-two {
    @media screen and (min-width: 48em) {
        width: 65.15%;
    }
}

.four-columns-one {
    @media screen and (min-width: 37.5em) {
        width: 48.5%;
        margin: 0 1.5% 0 0;
    }
    @media screen and (min-width: 48em) {
        width: 22.375%;
        margin: 0 3.5% 0 0;
    }
}

.four-columns-two {
    @media screen and (min-width: 48em) {
        width: 48%;
        margin: 0 3.5% 0 0;
    }
}

.four-columns-three {
    @media screen and (min-width: 48em) {
        width: 74.125%;
        margin: 0 3.5% 0 0;
    }
}

.last {
    clear: right;
    margin-right: 0 !important;
}

.elements-divider {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    display: block;
    clear: both;
}

/*
 * Pull-left / pull-right
 */
.entry-content aside,
main aside {
    &.pull-left,
    &.pull-right {
        margin-bottom: 15px;
        color: darken($text, 20%);
        border-top: 2px solid lighten($text, 20%);
        border-bottom: 1px solid lighten($text, 20%);
        padding: 10px 5px;
        @media screen and (min-width: 37.5em) {
            width: 48%;
            margin-top: 5px;
        }
        @media screen and (min-width: 66.25em) {
            width: 40%;
        }
        h1 {
            @include px2rem(20);
            padding-bottom: 3px;
        }
        h2 {
            @include px2rem(18);
            padding-bottom: 3px;
        }
        h3 {
            @include px2rem(16);
            padding-bottom: 0;
        }
        p, h4, h5, h6 {
            @include px2rem(14);
            padding-bottom: 0;
            @media screen and (min-width: 37.5em) {
                @include px2rem(16);
            }
        }
    }
    &.pull-left {
        @media screen and (min-width: 37.5em) {
            float: left;
            margin-right: 20px;
        }
        .no-sidebar &,
        .sidebar-right & {
            @media screen and (min-width: 37.5em) {
                margin-left: -3%;
            }
            @media screen and (min-width: 66.25em) {
                margin-left: -5%;
            }
        }
    }
    &.pull-right {
        @media screen and (min-width: 37.5em) {
            float: right;
            margin-left: 20px;
            text-align: right;
        }
        @media screen and (min-width: 85em) {
            margin-bottom: 20px;
        }
        .no-sidebar &,
        .sidebar-left & {
            @media screen and (min-width: 37.5em) {
                margin-right: -3%;
            }
            @media screen and (min-width: 66.25em) {
                margin-right: -5%;
            }
        }
        .local-sidebar-active & {
            margin-right: 0;
        }
    }
    &.align-left {
        text-align: left;
    }
    &.align-right {
        text-align: right;
    }
}

/*
 * Content-Index
 */

.content-index {
    .tax-list-register {
        padding-left: 0;
        margin: 0 0 .25em;
        li {
            float: left;
            list-style-type: none;
            padding: .25em .5em;
            &.empty {
                opacity: .5;
            }
            a {
                font-weight: bold;
            }
        }
    }
    h2 {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: .5em;
    }
    ul {
        margin-bottom: 0;
    }
}

/*
 * Lightbox
 */

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

/* Fix IE11 */
.fancybox-button div {
  height: 100%; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none; }

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: linear;
  z-index: 99998; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px; }

.fancybox-navigation .fancybox-button div {
  padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0; }

/* Caption */
.fancybox-caption {
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px 25px 44px;
  right: 0;
  text-align: center;
  z-index: 99996; }

.fancybox-caption::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAQAAADKSeXYAAAAYklEQVQoz42RwQ3AMAgDjfcfup8WoRykfBAK5mQHKSz5rbXJPis1hjiV3CIqgG0hLZPkVkA4p4x5oR1bVeDrdCLrW2Q0D5bcwY3TGMHbdw3mPRuOtaspYP1w//G1OIcW148H0DMCqI/3mMMAAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -44px;
  z-index: -1; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate 1s linear infinite;
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-caption {
    padding: 12px; }
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }
  .fancybox-slide--image {
    padding: 6px 0; }
  .fancybox-close-small {
    right: -6px; }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; } }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus::before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }
