/*!
 * Absatzklassen
 */

    .notice {
        display: block;
        margin: 20px 0;
        padding-left: 40px;
        position: relative;
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
            padding-top: 0;
        }
        p, ul, ol {
            margin-bottom: .3em;
            .alert & {
                margin-bottom: 0;
            }
        }
        .alert & {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        svg.rrze-elements-icon {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 30px;
        }
    }


    .notice-alert,
    .notice-attention {
        svg.rrze-elements-icon {
            fill: $red !important;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $red;
        }
        &.no-title p {
            color: $red;
            font-weight: bold;
        }
    }

    .notice-hinweis {
        svg.rrze-elements-icon {
            fill: $text-blue !important;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $text-blue;
        }
        &.no-title p {
            color: $text-blue;
            font-weight: bold;
        }
    }

    .notice-baustelle {
        svg.rrze-elements-icon {
            fill: $dark-grey !important;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $dark-grey;
        }
        &.no-title p {
            color: $dark-grey;
            font-weight: bold;
        }
    }

    .notice-question {
        svg.rrze-elements-icon {
            fill: $medium-blue !important;
        }
    }

    .notice-minus {
        svg.rrze-elements-icon {
            fill: $red !important;
        }
    }

    .notice-plus {
        svg.rrze-elements-icon {
            fill: $green !important;
        }
    }
    .notice-tipp {
        svg.rrze-elements-icon {
            fill: orange !important;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $dark-grey;
        }
        &.no-title p {
            color: $dark-grey;
            font-weight: bold;
        }
    }
    .notice-download {
        svg.rrze-elements-icon {
            fill: $medium-blue !important;
        }
    }

    .notice-faubox {
        svg.rrze-elements-icon {
            fill: $medium-blue !important;
        }
    }

    .notice-audio {
        svg.rrze-elements-icon {
            fill: $medium-blue !important;
        }
    }
 
    .notice-video {
        svg.rrze-elements-icon {
            fill: $medium-blue !important;
        }
    }

    .notice-thumbs-up {
        svg.rrze-elements-icon {
            fill: $green !important;
    }
}
    .notice-thumbs-down {
        svg.rrze-elements-icon {
            fill: $red !important;
    }
}
    