/*!
 * Absatzklassen
 */

    .notice {
        display: block;
        margin: 20px 0;
        padding-left: 36px;
        &:before {
            @extend .fa !optional;
            @extend .fa-2x !optional;
            min-width: 24px;
            padding-right: 8px;
            margin-left: -36px;
            float: left;
            position: relative;
            top: -3px;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
            padding-top: 0;
        }
        p, ul, ol {
            margin-bottom: .3em;
            .alert & {
                margin-bottom: 0;
            }
        }
        .alert & {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }


    .notice-alert,
    .notice-attention {
        @extend .fa-exclamation-circle !optional;
        &:before {
            color: $red;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $red;
        }
        &.no-title p {
            color: $red;
            font-weight: bold;
        }
    }

    .notice-hinweis {
        @extend .fa-exclamation-circle !optional;
        &:before {
            color: $text-blue;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $text-blue;
        }
        &.no-title p {
            color: $text-blue;
            font-weight: bold;
        }
    }

    .notice-baustelle {
        @extend .fa-wrench !optional;
        &:before {
            color: $dark-grey;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $dark-grey;
        }
        &.no-title p {
            color: $dark-grey;
            font-weight: bold;
        }
    }

    .notice-question {
        @extend .fa-question-circle !optional;
        &:before {
            color: $medium-blue;
        }
    }

    .notice-minus {
        @extend .fa-minus-circle !optional;
        &:before {
            color: $red;
        }
    }

    .notice-plus {
        @extend .fa-plus-circle !optional;
        &:before {
            color: $green;
        }
    }
    .notice-tipp {
        @extend .fa-lightbulb-o !optional;
        &:before {
            color: orange;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $dark-grey;
        }
        &.no-title p {
            color: $dark-grey;
            font-weight: bold;
        }
    }
    .notice-download {
        @extend .fa-download !optional;
        &:before {
            color: $medium-blue;
        }
    }

    .notice-faubox {
        @extend .fa-cloud-download !optional;
        &:before {
            color: $medium-blue;
        }
    }

    .notice-audio {
        @extend .fa-volume-up !optional;
        &:before {
            color: $medium-blue;
        }
    }
 
    .notice-video {
        @extend .fa-youtube-play !optional;
        &::before {
            color: $medium-blue;
        }
    }
