/*!
 * Accordion
 */

h3.accordion-heading,
h4.accordion-heading {
    width: auto;
    padding: 0 !important;
    margin: 0;
    border: none;
    text-align: left;
}
button.accordion-toggle {
    width: 100%;
    border: none;
    text-align: left;
}
button.expand-all.standard-btn {
    margin: 5px 0;
    float: none;
}

.button-container-right {
    text-align: right;
}

.button-container-left {
    text-align: left;
}

.accordion {
    .accordion-register {
        padding-left: 0;
        margin: 0 0 .5em;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        li {
            float: left;
            list-style-type: none;
            padding: .25em .5em;
        }
    }
}

@media print {
    .accordion {
        position: relative;
        display: block;
        overflow: visible;
    }
    .accordion-group,
    .accordion-body,
    .accordion-inner,
    .accordion-inner p {
        position:relative;
        display: block !important;
        page-break-inside: avoid;
        break-inside: avoid;
        overflow: visible;
    }
    button.expand-all.standard-btn {
        display: none;
    }
    h3.accordion-heading,
    h4.accordion-heading {
        margin-bottom: 0 !important;
    }
}