/*!
 * Bootstrap Alerts
 */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-weight: normal;
    background-color: #e9edf2;
    strong {
        color: inherit;
    }
    &.light  {
        color: #fff;
        letter-spacing: 0.03em;
        * {
            color: #fff;
            letter-spacing: 0.03em;
        }
        a {
            color: darken(#fff, 10%);
            text-decoration-color: inherit;
            &:hover, &:focus, &:active{
                color: #fff;
            }
        }
    }
    a.standard-btn {
        margin-bottom: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
    p:last-child {
        padding-bottom: 0; // für FAU-Themes
    }
}
.alert-success, .alert-success * {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info, .alert-info * {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning, .alert-warning * {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger, .alert-danger * {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert.alert-danger p {
    font-size: 1rem;
    line-height: 1.5;
}