/*!
 * Bootstrap Alerts
 */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-weight: normal;
    background-color: #e9edf2;
    overflow: hidden;
    color: #000;
    p, strong {
        color: inherit;
    }
    &.font-light  {
        color: #fff;
        letter-spacing: 0.03em;
        * {
            color: #fff;
            letter-spacing: 0.03em;
        }
        a {
            color: #fff;
            text-decoration-color: inherit;
            &:hover, &:focus, &:active{
                color: darken(#fff, 10%);

            }
        }
    }
    a.standard-btn {
        margin-bottom: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
    p:last-child {
        padding-bottom: 0; // für FAU-Themes
    }
}
.alert-success, .alert-success *:not(code, pre) {
    color: #315f31;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info, .alert-info *:not(code, pre) {
    color: #245269  ;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning, .alert-warning *:not(code, pre) {
    color: #66512c;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger, .alert-danger *:not(code, pre) {
    color: #78302f;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert.alert-danger p {
    font-size: 1rem;
    line-height: 1.5;
}

.alert-example,
#content .alert-example {
    margin: 30px 20px 40px;
    padding: 30px 10px 5px;
    position: relative;
    background: #fff;
    overflow: initial;
    border: 1px dashed var(--color-TextLight, $medium-grey);
    border-radius: var(--border-radius, 3px);
    &:after {
        background: #fff;
        border: 1px dashed var(--color-TextLight, $medium-grey);
        color: var(--color-Text);
        content: "Beispiel";
        font-family: sans-serif;
        font-size: .8rem;
        line-height: inherit;
        font-weight: 700;
        padding: 3px 10px;
        position: absolute;
        right: 20px;
        text-transform: uppercase;
        top: -1.2rem;
        z-index: 1;
        overflow: auto;
        :lang(en) & {
            content: 'Example';
        }
        .fau-events & {
            width: auto;
            height: auto;
            visibility: initial;
        }
    }
    &[title]:after {
        content: attr(title);
    }
}