/*!
 * Buttons
 */

button.standard-btn,
a.standard-btn {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 18px;
    overflow: hidden;
    cursor: pointer;
    background: var(--color-primary-ci-hell, $primary);
    color: var(--color-button-text, #fff);
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
    text-decoration: none !important;
    transition: 0.2s background ease;
    border: 1px solid transparent;
    span {
        background-color: inherit;
        color: inherit;
    }
}

/*.post, .page {
    .entry-content {
        button.standard-btn,
        a.standard-btn {
            color: var(--color-button-text, #fff);
            &:hover {
                color: var(--color-button-text, #fff);
            }
        }
    }
}*/

button.standard-btn,
a.standard-btn {
    &.font-light {
        color: #fff;
    }
    &.font-dark {
        color: #000;
    }
    &.xsmall-btn {
        padding: 5px 10px;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.5;
    }
    &.small-btn {
        padding: 7px 12px 5px;
    }
    &.large-btn {
        padding: 14px 20px 13px;
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 1.5;
    }
    &.xlarge-btn {
        padding: 18px 30px 17px;
        font-size: 25px;
        font-size: 1.5625rem;
        line-height: 1.5;
    }
    &.primary-btn {
        background: var(--color-primary-ci-hell, $primary);
        color: var(--color-primary-ci-hell-kontrast, #fff);
        border-color: darken($primary, 5%);
        &:hover, &:focus, &:active {
            background: var(--color-button-hover-bg, darken($primary, 10%));
            color: var(--color-button-hover-text, #fff);
        }
    }
    &.blue-btn {
        background: $primary;
        border-color: darken($primary, 5%);
        &:hover, &:focus, &:active {
            background: darken($primary, 10%);
        }
    }
    &.success-btn, &.green-btn {
        background: $success;
        border-color: darken($success, 5%);
        &:hover, &:focus, &:active {
            background: darken($success, 12%);
        }
    }
    &.info-btn {
        background: $info;
        border-color: darken($info, 5%);
        color: #000000;
        &:hover, &:focus, &:active {
            background: darken($info, 12%);
        }
    }
    &.warning-btn, &.yellow-btn {
        background: $warning;
        border-color: darken($warning, 5%);
        color: #000000;
        &:hover, &:focus, &:active {
            background: darken($warning, 12%);
        }
    }
    &.danger-btn, &.red-btn {
        background: $danger;
        border-color: darken($danger, 5%);
        &:hover, &:focus, &:active {
            background: darken($danger, 12%);
        }
    }
    &.secondary-btn, &.grey-btn {
        background: $secondary;
        &:hover, &:focus, &:active {
            background: darken($secondary, 12%);
        }
    }
    &.black-btn {
        background: $text;
        color: #fff;
        &:hover, &:focus, &:active {
            background: darken($text, 12%);
            color: #fff;
        }
    }
    &.ghost-btn {
        background: transparent;
        color: var(--color-Text, $text);
        border: 1px solid var(--color-ContentBorders, #dfe6ec);
        &:hover, &:focus, &:active {
            color: var(--color-ghostbutton-hover-text, #fff);
            background: var(--color-ghostbutton-hover-bg, $primary);
        }
        .fau-events & {
            border-width: 2px;
        }
    }
    &.full-btn {
        width: 100%;
    }
    &:active {
        transform: scale(.95);
    }
}
