.rrze-elements-cta {
    position: relative;
    margin: 2em 0;
    color: #fff;
    background-color: var(--color-zentral-primary, #04316a);
    $backgrounds: '1', '2';
    @each $background in $backgrounds {
        &.bg-#{$background} {
            background-image: url("../svg/cta/FAU-Sinuskurven-0#{$background}.svg");
            background-position: bottom 50% left;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    @media screen and (max-width: 767px) {
        margin-left: -15px;
        margin-right: -15px;
    }
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cta-content {
        padding: 10px;
        @media screen and (min-width: 992px) {
            flex-basis: 60%;
            flex-grow: 1;
            flex-shrink: 0;
            padding: 4em 2em 8em 6.5em;
        }
        .cta-title {
            display: block;
            font-size: 1.8em;
            line-height: 1.5;
            font-weight: bold;
            @media screen and (min-width: 992px) {
                font-size: 2.6em;
            }
        }
        .cta-subtitle {
            display: block;
            font-size: 1.1em;
            line-height: 1.5;
            margin-top: .25em;
            @media screen and (min-width: 992px) {
                font-size: 1.3em;
            }
        }
    }
    .cta-button-container {
        padding: 10px 1em 1em 10px;
        display: flex;
        justify-content: flex-end;
        @media screen and (min-width: 992px) {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 2em;
        }
    }
    .cta-button {
        display: inline-block;
        background: #fff;
        padding: .5em 1em .25em;
        //margin: 1em 0;
        box-shadow: none;
        text-decoration: none;
        color: var(--color-Text);
        font-weight: bold;
        border-radius: 0;
        &:hover, &:focus, &:active {
            box-shadow: none;
            background-color: var(--color-button-bg, #1f4c7a);
            text-decoration: none;
        }
        .rrze-elements-icon {
            margin-left: 1em;
            vertical-align: middle;
            top: -.15em;
            padding-bottom: 0;
            padding-right: 0;
            border-radius: 0 !important;
        }
        @media screen and (min-width: 992px) {
            position: relative;
            right: 15%;
            max-width: 80%;
            font-size: 1.25em;
            padding: 0.65em 1.5em 0.65em 2.5em;
        }
    }
    .cta-image {
        display: none;
        img {
            box-shadow: none;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (min-width: 992px) {
            display: block;
            width: 25%;
            min-width: 200px;
        }

    }
    &.no-image {
        .cta-button {
            @media screen and (min-width: 992px) {
                right: 0;
            }
        }
        .cta-content {
            @media screen and (min-width: 992px) {
                padding-right: 6.5em;
                min-height: 320px;
            }
            @media screen and (min-width: 1200px) {
                min-height: 360px;
            }
        }
        .cta-button-container {
            @media screen and (min-width: 992px) {
                padding-right: 4em;
                padding-left: 4em;
            }
        }
        @each $background in $backgrounds {
            &.bg-#{$background} {
                background-position: left bottom;
            }
        }
    }

}