/*!
 * FlexSlider
 */

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:focus,
.content-slider.flexslider a:focus  {/*outline: none;*/}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.content-slider.flexslider,
#content .content-slider.flexslider {   // Fix für FAU-Theme
    margin: 0;
    padding: 0;
    .slides > li {
        display: none;
        -webkit-backface-visibility: hidden;
    } /* Hide the slides before the JS is loaded. Avoids image jumping */
    .slides img {
        max-width: 100%;
        display: block;
        object-fit: cover;
        @media screen and (min-width: 48em) {
            width: auto;
            max-width: 30%;
            height: auto;
            margin-right: 20px;
            #content & {
                max-width: 30%;
            }
        }
        &.attachment-teaser-thumb {
            width: auto;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            @media screen and (min-width: 48em) {
                max-width: 30%;
                height: auto;
                margin-right: 20px;
                #content & {
                    max-width: 30%;
                }
            }
        }
    }
    .slides .wp-caption:last-child {
        margin-bottom: 0;
    }
    .slides .wp-caption img {
        max-width: 100%;
    }
    .slides .person-thumb img {
        max-width: 100%;
        height: inherit;
        width: inherit;
    }
}

.content-slider.flexslider.carousel,
#content .content-slider.flexslider.carousel {
    .slides {
        box-shadow: none;
        border: 0;
        &>li {
            background-color: #efefef;
            max-height: 400px;
            overflow: hidden;
            padding: 0;
            -webkit-transition: background-color .5s ease-out;
               -moz-transition: background-color .5s ease-out;
                 -o-transition: background-color .5s ease-out;
                    transition: background-color .5s ease-out;
            .fau-theme & {
                box-shadow: 0 1px 2px rgba(0,0,0,.3);
                background-color: #dde5f0;
                border: 1px solid #dde5f0;
            }
            .rrze-2019 &,
            .fau-events & {
                background-color: #efeff2;
                border: 1px solid #efeff2;
            }
            &:hover, &:focus {
                img {
                    -webkit-transform: scale(1.05,1.05);
                    transform: scale(1.05,1.05);
                }
                .fau-theme & {
                    background-color: darken(#dde5f0, 5%);
                }
                .rrze-2019 &,
                .fau-events & {
                    background-color: darken(#efeff2, 5%);
                }
            }
        }
        .image-container {
            overflow: hidden;
        }
        img {
            height: 170px;
            width: 300px;
            object-fit: cover;
            float: none;
            box-shadow: none;
            -webkit-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
               -moz-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
                 -o-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
                    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
            @media screen and (min-width: 48em) {
                max-width: 100%;
                margin: 0;
            }
        }
        .content-container {
            height: 170px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
        }
        .posted-on {
            margin: 0;
            padding: 0;
            flex-basis: 10%;
            flex-grow: 1;
            .rrze-2019 &,
            .fau-events & {
                color: #393944;
            }
        }
        h2 {
            margin: 10px 0;
            padding: 0;
            border-bottom: none;
            line-height: 1.2;
            flex-grow: 20;
            flex-basis: 80%;
        }
        .post-categories {
            //align-self: flex-end;
            flex-basis: 10%;
            flex-grow: 1;
            font-size: .9em;
            line-height: 1.5;
            a {
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}

.text-slider.flexslider,
#content .text-slider.flexslider {   // Fix für FAU-Theme

}

aside[class*="sidebar"] .content-slider.flexslider .slides {
    img, img.attachment-teaser-thumb {
        @media screen and (min-width: 48em) {
            max-width: 100%;
            max-height: 200px;
        }
    }
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
//.gallery-slider.flexslider,
.content-slider.flexslider,
#content .content-slider.flexslider {
    position: relative;
    margin-bottom: 20px;
    ul.slides {
        margin: 0 0 10px;
        padding-left: 0;
        background: #fff;
        border: 10px solid #fff;
        border-radius: var(--border-radius, 4px);
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
        -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        zoom: 1;
        @media screen and (min-width: 48em) {
            border: 20px solid #fff;
            border-left-width: 40px;
            border-right-width: 40px;
        }
        @media screen and (min-width: 66.25em) {
            border-width: 30px 40px;
        }
        li {
            padding-left: 0;
            &:before {
                content: none;
            }
        }
    }

    .flex-viewport {
        max-height: 2000px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        .loading & {
            max-height: 300px;
        }
    }
    .content-slider.flexslider .slides {
        zoom: 1;
        padding-left: 0;
        margin-bottom: 0;
    }
    .carousel li { margin-right: 5px; }
    .flex-direction-nav li {
        list-style-type: none;
        padding: 0;
    }

    h2 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding-top: 0;
        @media screen and (min-width: 48em) {
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}
aside .content-slider.flexslider,
#content aside .content-slider.flexslider {
    ul.slides {
        @media screen and (min-width: 48em) {
            border-width: 20px;
        }
    }
    .flex-direction-nav .flex-prev {
        left: 1px;
    }
    .flex-direction-nav .flex-next {
        right: 1px;
    }
}
/* Direction Nav */
.content-slider,
.gallery-slider,
.gallery-slider-thumbs
{
    .flex-direction-nav {
        *height: 0;
        margin-bottom: 0;
        position: static; // Fix für FAU-Einrichtungen
        a  {
            display: block;
            float: left;
            width: 40px;
            height: 40px;
            margin: 0 0;
            z-index: 10;
            overflow: hidden;
            line-height: 1;
            opacity: 1;
            cursor: pointer;
            color: #555;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;
            background-image: none; // Fix für FAU-Einrichtungen
            text-indent: 0; // Fix für FAU-Einrichtungen
            background-color: transparent;
            font-size: 0;
            @media screen and (min-width: 48em) {
                //opacity: 0;
                position: absolute;
                top: 40%;
            }
            &:hover, &:focus {
                background-color:transparent;
                border-bottom:none;
                color:#1559A6;
            }
            &:before {
                font-family: "FontAwesome";
                font-size: 40px;
                display: inline-block;
                content: '\f104';
            }
            &.flex-next:before  {
                content: '\f105';
            }
        }
        .flex-prev {
            left: 0;
            @media screen and (min-width: 48em) {
                left: -25px;
            }
        }
        .flex-next {
            text-align: right;
            right: 0;
            @media screen and (min-width: 48em) {
                right: -25px;
            }
        }
        .flex-disabled {
            opacity: 0!important;
            filter:alpha(opacity=0);
            cursor: default;
        }
    }
    .flex-pauseplay {
        position: static;
        a {
            display: block;
            float: right;
            width: 40px;
            height: 40px;
            padding-top: 6px;
            z-index: 10;
            overflow: hidden;
            cursor: pointer;
            color: #555;
            background-image: none; // Fix für FAU-Einrichtungen
            text-indent: 0; // Fix für FAU-Einrichtungen
            text-align: right;
            font-size: 16px;
            line-height: 1.6;
            @media screen and (min-width: 48em) {
                //opacity: 0.8;
                position: absolute;
                bottom: -2px;
                top: auto; // Fix für FAU-Einrichtungen
                right: 0;
            }

            &:before {
                font-family: "FontAwesome";
                font-size: 20px;
                display: inline-block;
                content: '\f04c';
                color: #1559a6;
            }

            &:hover, &:focus {
                opacity: 1;
                background: transparent !important;
                text-decoration: none !important;
            }

            &.flex-play:before {
                content: '\f04b';
            }
        }
    }
}

.gallery-slider.flexslider,
.gallery-slider-thumbs.flexslider,
.content-slider.flexslider {
    &:hover, &:focus {
        opacity: 1;
        .flex-prev {
            opacity: 0.7;
        }
        .flex-next {
            opacity: 0.7;
        }
    }
    .flex-next:hover,
    .flex-prev:hover,
    .flex-next:focus,
    .flex-prev:focus {
        opacity: 1;
    }
}

/* Control Nav */
.content-slider,
.gallery-slider,
.gallery-slider-thumbs {
    .flex-control-nav {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 0;
        @media screen and (min-width: 48em) {
            padding-right: 50px;
        }
        li {
            margin: 12px 6px 6px;
            display: inline-block;
            zoom: 1;
            *display: inline;
            &:before {
                content: none;
            }
            aside & {
                padding: 0;
            }
            a {
                width: 12px;
                height: 12px;
                display: block;
                background: #666;
                background: rgba(0,0,0,0.5);
                cursor: pointer;
                text-indent: -9999px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -o-border-radius: 20px;
                border-radius: 20px;
                -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
                &:hover {
                    background: #666;
                    background: rgba(0,0,0,0.7);
                }
                &.flex-active {
                    background: #1559A6;
                    background: rgba(21,89,166,1);
                    cursor: default;
                }
            }
        }
    }
    .flex-control-thumbs {
        margin: 5px 0 0;
        position: static;
        overflow: hidden;
        li {
            width: 25%;
            float: left;
            margin: 0;
        }
        img {
            width: 100%;
            display: block;
            opacity: .7;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .flex-active {
            //opacity: 1;
            //cursor: default;
        }
    }
}

// Gallery only
.elements-gallery {
    position: relative;
}
.gallery-slider,
.gallery-slider-thumbs {
    position: relative;
    .slides {
        margin-bottom: 5px;
    }
    li {
        text-align: center;
    }
    .flex-direction-nav {
        .flex-prev, .flex-next {
            text-align: center;
            height: 50px;
            width: 50px;
            background: rgba(255, 255, 255, 0.5);
            display: none;
            @media screen and (min-width: 48em) {
                display: block;
                opacity: 0;
            }
            &:before {
                font-size: 60px;
                opacity: 1;
                position: relative;
                top: -6px;
            }
            &:hover, &:focus {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        .flex-prev {
            left: 0;
            padding: 0 12px 0 10px;
        }
        .flex-next {
            right: 0;
            padding: 0 10px 0 12px;
            float: right;
            @media screen and (min-width: 48em) {
                float: none;
            }
        }
    }
    .wp-caption-text {
        padding-bottom: 20px;
    }
}

.gallery-slider-thumbs {
    .slides li {
        height: 100px;
        @media screen and (min-width: 48em) {
            height: 150px;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .flex-control-nav.flex-control-paging {
        padding: 0 50px;
        text-align: center;
    }
    .flex-direction-nav {
        .flex-prev, .flex-next {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 100px;
            @media screen and (min-width: 48em) {
                top: 31%;
            }
            &:before {
                font-size: 48px;
                opacity: 1;
                position: relative;
                top: -6px;
            }
        }
    }
}

/* Fixes for FAU-Themes */
#content .content-slider.flexslider {
    .flex-prev, .flex-next, .flex-pauseplay a {
        position: static;
        @media screen and (min-width: 48em) {
            position: absolute;
        }
    }
    .slides {
        .row {
            margin: 0;
        }
        .thumbnailregion {
            margin-left: 0;
            img {
                max-width: 100%;
                display: inline;
                //width: 100%;
            }
        }
        .teaserregion {
            @media (min-width: 768px) {
                min-width: 50%;
            }
        }
    }
}

.fau-theme .widget .content-slider.flexslider li::before {
    content:none;
}

#content .sidebar-inline + .content-inline .content-slider.flexslider {
    clear: right;
    //margin-right: 267px;
    .slides:after {
        clear:left;
    }
    &.clearfix:after {
        clear:left;
    }
}

#content .startpage-sidebar .content-slider.flexslider .slides,
#content aside .content-slider.flexslider .slides {
    .thumbnailregion {
        max-width: 100%;
        margin-left: 0;
        .passpartout {
            max-width: 100%;
        }
    }
    .teaserregion {
        width: 100%;
        max-width: inherit;
        padding: 3px 0 0;
        @media (min-width: 480px) {
            width: 100%;
        }
    }
}

/* Fixes for RRZE-Theme */

.rrze-2019 .content-slider {
    figure:first-child {
        margin-top: 0;
    }
}