svg.rrze-elements-icon {
    vertical-align: baseline;
    box-shadow: none;
    position: relative;
    top: 2px;
    a > & {
        padding: .2em .2em .15em;
        border-radius: 50% !important   ;
        color: var(--color-button-bg, #1f4c7a);
        box-shadow: none;
    }
    a:hover > &, a:focus > &, a:active > & {
        background-color: var(--color-button-bg, #1f4c7a);
        color: var(--color-button-text, #ffffff);
    }
}

a.icon,
a.icon:hover,
a.icon:focus,
a.icon:active {
    box-shadow: none; // fix für FAU-Themes
}

ul[class^="rrze-elements-icon-list-"] {
    li {
        list-style-type:none;
        position: relative;
        left: -1em;
        &:before {
            content: "";
            display: inline-block;
            margin-right: .3em;
            height: .75em;
            width: .75em;
            background-size: .75em .75em;
            background-repeat: no-repeat;
        }
    }
}