/*!
 * News
 */

.rrze-elements-news {
    .entry-content {
        width: 100%;
    }
    .float-left {
        @media screen and (min-width: 37.5em) {
            float: left;
            padding: 0 20px 10px 0;
            background: #fff;
        }
    }
    .float-right {
        @media screen and (min-width: 37.5em) {
            float: right;
            padding: 0 0 10px 20px;
            background: #fff;
        }
    }
    .post.has-post-thumbnail .post-thumbnail {
        @media screen and (min-width: 37.5em) {
            float: left;
            margin-right: 16px;
            width: 150px;
            height: 150px;
        }
    }
    .entry-title {
        margin-top: 8px;
    }
    .more-posts {
        text-align: right;
    }
}

.rrze-elements-news .elements-columns {
    .entry-content {
        padding: 0;
    }
    .news-item > .entry-header > .entry-title {
        padding-top: 0;
        margin-top: 0;
    }
    .entry-thumbnail.float-left {
        float: none;
        padding-right: 0;
    }
    .entry-thumbnail.float-right {
        float: none;
        padding-left: 0;
    }
    .news-item {
        position: relative;
    }
}
.rrze-elements-news.ili-tpl .news-item .entry-thumbnail {
    position: relative;
    padding-top: 1em;
    img {
        width: 100%;
        height: 30%;
        object-fit: cover;
    }
    &:after {
        content: '';
        width: calc(100% + 1em);
        height: 1em;
        position: absolute;
        left: -.5em;
        top: 0;
        background: #fff;
        transform-origin: right top;
        transform: skewY(-1.75deg);
        display: block;
        overflow: hidden;
    }
}