/*!
 * News
 */

div.rrze-elements-news {
    .entry-content {
        width: 100%;
    }
    .float-left {
        @media screen and (min-width: 37.5em) {
            float: left;
            padding: 0 20px 10px 0;
            background: #fff;
        }
    }
    .float-right {
        @media screen and (min-width: 37.5em) {
            float: right;
            padding: 0 0 10px 20px;
            background: #fff;
        }
    }
}
