//-----------------------------------------------------------------------------------*/
// Konstanten fuer das Design
//-----------------------------------------------------------------------------------*/

/*
    --color-zentral-ci-hell: #04316a;
    --color-zentral-ci-hell-kontrast: #fff;
    --color-phil-ci-hell: #fdb735;
    --color-phil-ci-hell-kontrast: #000;
    --color-med-ci-hell: #18b4f1;
    --color-med-ci-hell-kontrast: #000;
    --color-nat-ci-hell: #7bb725;
    --color-nat-ci-hell-kontrast: #000;
    --color-rw-ci-hell: #c50f3c;
    --color-rw-ci-hell-kontrast: #fff;
    --color-tf-ci-hell: #8c9fb1;
    --color-tf-ci-hell-kontrast: #000;

    --color-primary-ci-hell
    --color-primary-ci-hell-kontrast
    --color-button-text
    --color-button-bg
    --color-button-hover-text
    --color-button-hover-bg
*/

$page: #fff;
$header: #636071;
$text: #212529;
$border: #C3C3CB;
$medium-blue: #005CAE;
$text-blue: #00458C;
$dark-grey: #4B4A56;
$medium-grey: #707070;
$light-grey: #dedee3;
$link: $medium-grey;
$bg-grey: #e7e7eb;
$green: #00905A;
//$red: #D94000;
$red: #a71c18;

// Bootstrap Colors
$primary: #245783;
$primary-light:#d9edf7;
$success: #115c39;
$sucess-light:#dff0d8;
$info:#0dcaf0;
$info-light:#d9edf7;
$warning:#ffc107;
$warning-light:#fcf8e3;
$danger:#921925;
$danger-light:#fcf8e3;
$secondary: #4c5359;

// FAU Colors
$colorPhilFak:          #FDB735;
$colorPhilFakDunkler:   #e87722;
$colorRwFak:            #C50F3C;
$colorRwFakDunkler:     #971B2F;
$colorMedFak:           #18B4F1;
$colorMedFakDunkler:    #005287;
$colorNatFak:           #7BB725;
$colorNatFakDunkler:    #266141;
$colorTechFak:          #8C9FB1;
$colorTechFakDunkler:   #2F586E;
$colorZUV:              #04316A;
$colorZUVDunkler:       #004A9F;
$colorDefault:          #04316A;
$colorDefaultDunkler:   #004A9F;

$colormaps : (
    zentral: ("basis": #04316A, "basis-kontrast": #fff,"heller": #8fb1ef, "hellste": #dde5f0, "dunkler": #004A9F, "dunkler-kontrast": #fff, "dunkelste": #041E42, "dunkelste-kontrast": #fff, "ci-hell": #04316A, "ci-hell-kontrast": #fff, "ci-hell2": #CED9E7, "ci-hell2-kontrast": #000),
    primary: ("basis": #04316A, "basis-kontrast": #fff,"heller": #8fb1ef, "hellste": #dde5f0, "dunkler": #004A9F, "dunkler-kontrast": #fff, "dunkelste": #041E42, "dunkelste-kontrast": #fff, "ci-hell": #04316A, "ci-hell-kontrast": #fff, "ci-hell2": #CED9E7, "ci-hell2-kontrast": #000),
    phil: ("basis": #963B2F, "basis-kontrast": #fff,"heller": #d9c689, "hellste": #f3eedf, "dunkler": #e87722, "dunkler-kontrast": #000, "dunkelste": #963B2F, "dunkelste-kontrast": #fff,  "ci-hell": #FDB735, "ci-hell-kontrast": #000, "ci-hell2": #F4E8CB, "ci-hell2-kontrast": #000),
    med: ("basis": #005287,"basis-kontrast": #fff, "heller": #bfd6f5, "hellste": #eaf3fc, "dunkler": #005287, "dunkler-kontrast": #fff, "dunkelste": #003E61, "dunkelste-kontrast": #fff,  "ci-hell": #18B4F1, "ci-hell-kontrast": #000, "ci-hell2": #B9D9EC, "ci-hell2-kontrast": #000),
    nat: ("basis": #266141, "basis-kontrast": #fff,"heller": #aacfbd, "hellste": #e5efea, "dunkler": #266141, "dunkler-kontrast": #fff, "dunkelste": #14462D, "dunkelste-kontrast": #fff,  "ci-hell": #7BB725, "ci-hell-kontrast": #000, "ci-hell2": #CFE0D8, "ci-hell2-kontrast": #000),
    rw: ("basis": #971B2F, "basis-kontrast": #fff,"heller": #c5ac94, "hellste": #F2DED1, "dunkler": #971B2F, "dunkler-kontrast": #fff, "dunkelste": #662938, "dunkelste-kontrast": #fff,  "ci-hell": #C50F3C, "ci-hell-kontrast": #fff, "ci-hell2": #F2DED1, "ci-hell2-kontrast": #000),
    tf: ("basis": #2F586E, "basis-kontrast": #fff,"heller": #d2d5d7, "hellste": #ebecee, "dunkler": #2F586E, "dunkler-kontrast": #fff, "dunkelste": #204251, "dunkelste-kontrast": #fff,  "ci-hell": #8C9FB1, "ci-hell-kontrast": #000, "ci-hell2": #D3DDE6, "ci-hell2-kontrast": #000),
)