//-----------------------------------------------------------------------------------*/
// Konstanten fuer das Design
//-----------------------------------------------------------------------------------*/

/*
    --color-zentral-ci-hell: #04316a;
    --color-zentral-ci-hell-kontrast: #fff;
    --color-phil-ci-hell: #fdb735;
    --color-phil-ci-hell-kontrast: #000;
    --color-med-ci-hell: #18b4f1;
    --color-med-ci-hell-kontrast: #000;
    --color-nat-ci-hell: #7bb725;
    --color-nat-ci-hell-kontrast: #000;
    --color-rw-ci-hell: #c50f3c;
    --color-rw-ci-hell-kontrast: #fff;
    --color-tf-ci-hell: #8c9fb1;
    --color-tf-ci-hell-kontrast: #000;

    --color-primary-ci-hell
    --color-primary-ci-hell-kontrast
    --color-button-text
    --color-button-bg
    --color-button-hover-text
    --color-button-hover-bg
*/

$page: #fff;
$header: #636071;
$text: #393944;
$border: #C3C3CB;
$medium-blue: #005CAE;
$text-blue: #00458C;
$dark-grey: #4B4A56;
$medium-grey: #707070;
$light-grey: #dedee3;
$link: $medium-grey;
$bg-grey: #e7e7eb;
$green: #00905A;
//$red: #D94000;
$red: #a71c18;

// Bootstrap Colors
$primary: #286090;
$primary-light:#d9edf7;
$success: #5cb85c;
$sucess-light:#dff0d8;
$info:#5bc0de;
$info-light:#d9edf7;
$warning:#f0ad4e;
$warning-light:#fcf8e3;
$danger:#d9534f;
$danger-light:#fcf8e3;
$secondary: #5a6268;

// FAU Colors
$colorPhilFak:          #FDB735;
$colorPhilFakDunkler:   #e87722;
$colorRwFak:            #C50F3C;
$colorRwFakDunkler:     #971B2F;
$colorMedFak:           #18B4F1;
$colorMedFakDunkler:    #005287;
$colorNatFak:           #7BB725;
$colorNatFakDunkler:    #266141;
$colorTechFak:          #8C9FB1;
$colorTechFakDunkler:   #2F586E;
$colorZUV:              #04316A;
$colorZUVDunkler:       #004A9F;
$colorDefault:          #04316A;
$colorDefaultDunkler:   #004A9F;
